<script lang="ts">
import { defineComponent, onMounted, computed, onUnmounted, ref } from 'vue'
import { useRoute, useRouter } from 'vue-router'
import axios from '@/utils/axios'
import { useStore } from '@/store'
import { MutationTypes } from '@/store/mutations'
import { User } from '@/store/types'
import PageHeader from '@/components/PageHeader.vue'
import PhotoThumbnail from '@/components/PhotoThumbnail.vue'
import PageLoader from '@/components/PageLoader.vue'

export default defineComponent({
  components: { PageHeader, PhotoThumbnail, PageLoader },
  setup() {
    const store = useStore()
    const route = useRoute()
    const router = useRouter()

    const user = ref({} as User)
    const loading = computed(() => store.state.loading)
    const activeAlbum = computed(() => store.state.activeAlbum)
    const photoList = computed(() => store.state.activeAlbumPhotos)
    const isChildRoute = computed(() => route.name === 'PhotoDetails')
    let photoId: string

    if (isChildRoute.value) {
      photoId = route.params.id.toString()
    }

    const getData = async () => {
      await axios.get(`/albums/${route.params.album}`).then((res) => {
        store.commit(MutationTypes.SET_ACTIVE_ALBUM, res.data)

        axios.get(`/users/${res.data.userId}`).then((res) => {
          user.value = res.data
        })
      })
      await axios.get(`/albums/${route.params.album}/photos`).then((res) => {
        store.commit(MutationTypes.SET_ACTIVE_ALBUM_PHOTOS, res.data)
        setActivePhoto(parseInt(photoId))
      })
    }

    const backToHome = () => {
      router.push('/')
    }

    const backToAlbum = () => {
      router.push({
        name: 'AlbumDetails',
        params: {
          album: route.params.album
        }
      })
    }

    const setActivePhoto = (id: number) => {
      const selected = store.state.activeAlbumPhotos.find(
        (item) => item.id === id
      )
      store.commit(MutationTypes.SET_SELECTED_PHOTO, selected)
    }

    const unsetActiveAlbum = () => {
      store.commit(MutationTypes.SET_ACTIVE_ALBUM, null)
      store.commit(MutationTypes.SET_ACTIVE_ALBUM_PHOTOS, null)
    }

    onMounted(getData)
    onUnmounted(unsetActiveAlbum)

    return {
      activeAlbum,
      user,
      photoList,
      loading,
      setActivePhoto,
      isChildRoute,
      backToHome,
      backToAlbum
    }
  }
})
</script>

<template>
  <el-container direction="vertical" :class="{ 'has-overlay': isChildRoute }">
    <page-header />
    <el-main v-if="activeAlbum">
      <page-loader v-if="loading" />
      <div v-else class="container">
        <h2 class="page-title">{{ activeAlbum.title }}</h2>
        <div v-if="user.id" class="user-info">
          <p>
            by:
            <router-link
              :to="{ name: 'UserDetails', params: { user: user.id } }"
            >
              <strong> @{{ user.username }} </strong>
              &mdash;
              <small>{{ user.name }}</small>
            </router-link>
            <small style="margin-left: 1rem"
              >{{ user.email }} &bull; {{ user.website }}</small
            >
          </p>
        </div>

        <el-row :gutter="20">
          <el-col v-for="item in photoList" :key="item.id" :span="12" :md="4">
            <photo-thumbnail :photo="item" @click="setActivePhoto(item.id)" />
          </el-col>
        </el-row>
      </div>
      <!-- /.container -->
    </el-main>

    <div v-if="isChildRoute && !loading" class="children">
      <div class="overlay" @click="backToAlbum" />
      <el-card>
        <template #header>
          <div class="card-header">
            <h4 style="margin: 0">Photo Details</h4>
            <el-button type="text" @click="backToAlbum">Close</el-button>
          </div>
        </template>
        <router-view></router-view>
      </el-card>
    </div>
  </el-container>
</template>

<style scoped>
.has-overlay {
  height: 100vh;
  overflow: hidden;
}

.page-title {
  margin-bottom: 0;
}

.user-info {
  margin-bottom: 2rem;
}

.user-info p {
  margin-bottom: 0;
}

.el-col {
  margin-bottom: 20px;
}

.children {
  background-color: rgba(0, 0, 0, 0.75);
  position: fixed;
  padding: 0 1rem;
  width: 100%;
  height: 100%;
}

.children .overlay {
  position: absolute;
  width: 100%;
  height: 100%;
}

.children .el-card {
  width: 100%;
  max-width: 800px;
  margin: 2rem auto;
  position: relative;
  z-index: 2;
}

.children .card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
</style>
