<script lang="ts">
import { useStore } from '@/store'
import { computed, defineComponent } from 'vue'
import { useRouter } from 'vue-router'
import PageHeader from '@/components/PageHeader.vue'
import PhotoThumbnail from '@/components/PhotoThumbnail.vue'

export default defineComponent({
  components: { PageHeader, PhotoThumbnail },
  setup() {
    const store = useStore()
    const router = useRouter()

    const comments = computed(() => store.state.photoCommentedList)
    const favorites = computed(() => store.state.photoFavoritedList)
    const userList = computed(() => store.state.userList)

    const backToHome = () => {
      router.push('/')
    }

    return {
      comments,
      favorites,
      userList,
      backToHome
    }
  }
})
</script>

<template>
  <el-container direction="vertical">
    <page-header />
    <el-main>
      <div class="container">
        <el-row :gutter="60">
          <el-col :lg="12">
            <h1>My Favorite Photos</h1>
            <el-row v-if="favorites.length" :gutter="15">
              <el-col v-for="item in favorites" :key="item.id" :span="12" :md="8">
                <photo-thumbnail :photo="item" />
              </el-col>
            </el-row>
            <div v-else>No favorites</div>
          </el-col>
          <el-col :lg="12">
            <h1>My Comments</h1>
            <div v-if="comments.length">
              <el-card
                v-for="item in comments"
                :key="item.id"
                class="comment"
                :body-style="{ display: 'flex', alignItems: 'start' }"
              >
                <img :src="item.url" style="width: 100px" alt="" />
                <div class="content">
                  <p>{{ item.comment }}</p>
                  <router-link
                    :to="{ name: 'PhotoDetails', params: { id: item.id, album: item.albumId } }"
                  >
                    View photo details
                  </router-link>
                </div>
              </el-card>
            </div>
            <div v-else>No comments</div>
          </el-col>
        </el-row>
      </div>
      <!-- /.container -->
    </el-main>
  </el-container>
</template>

<style scoped>
.el-col,
.el-card {
  margin-bottom: 20px;
}

.content {
  margin-left: 1rem;
}
</style>
