<script lang="ts">
import { defineComponent, computed, onMounted, ref, watch } from 'vue'
import axios from '@/utils/axios'
import { useStore } from '@/store'
import { MutationTypes } from '@/store/mutations'
import { Album } from '@/store/types'
import PageHeader from '@/components/PageHeader.vue'
import AlbumCard from '@/components/AlbumCard.vue'
import PageLoader from '@/components/PageLoader.vue'
import { useRoute, useRouter } from 'vue-router'

export default defineComponent({
  components: {
    PageHeader,
    AlbumCard,
    PageLoader
  },
  setup() {
    const store = useStore()
    const router = useRouter()
    const route = useRoute()

    const urlQueryUser = route.query.user || ''
    const activeUser = ref(parseInt(urlQueryUser.toString()) || null)
    const albumSort = ref(route.query.albumSort || 'default')
    const filteredAlbumList = ref([] as Array<Album>)
    const loading = computed(() => store.state.loading)
    const albumList = computed(() => store.state.albumList)
    const userList = computed(() => store.state.userList)

    const getData = async () => {
      await axios.get('/albums').then((res) => {
        store.commit(MutationTypes.SET_ALBUM_LIST, res.data)
        filteredAlbumList.value = [...res.data]
        filterAlbumByUser()
        sortAlbumAlphabetically()
      })
      await axios.get('/users').then((res) => {
        store.commit(MutationTypes.SET_USER_LIST, res.data)
      })
    }

    const filterAlbumByUser = () => {
      if (activeUser.value) {
        filteredAlbumList.value = albumList.value.filter(
          (item) => item.userId === activeUser.value
        )
      } else {
        filteredAlbumList.value = [...store.state.albumList]
      }
    }

    const sortAlbumAlphabetically = () => {
      switch (albumSort.value) {
        case 'ascending':
          filteredAlbumList.value.sort((a, b) => a.title.localeCompare(b.title))
          break
        case 'descending':
          filteredAlbumList.value.sort((a, b) => b.title.localeCompare(a.title))
          break
        default:
          if (activeUser.value) {
            filterAlbumByUser()
          } else {
            filteredAlbumList.value = [...store.state.albumList]
          }
      }
    }

    watch(activeUser, () => {
      if (activeUser.value) {
        router.push({
          query: {
            user: activeUser.value
          }
        })
      } else {
        router.push('/')
      }
    })
    watch(albumSort, () => {
      let user = urlQueryUser ? urlQueryUser : null
      if (albumSort.value === 'default') {
        router.push({
          query: { user }
        })
      } else {
        router.push({
          query: {
            albumSort: albumSort.value,
            user
          }
        })
      }
    })
    watch(route, () => {
      if (activeUser.value) {
        filterAlbumByUser()
      } else {
        filteredAlbumList.value = [...store.state.albumList]
      }
      sortAlbumAlphabetically()
    })

    onMounted(getData)

    return {
      loading,
      filteredAlbumList,
      userList,
      activeUser,
      albumSort
    }
  }
})
</script>

<template>
  <el-container direction="vertical">
    <page-header />
    <el-main>
      <page-loader v-if="loading" />
      <div v-else class="container">
        <div class="album-filter">
          <div>
            <label>View album by user:</label>
            <el-select
              v-model="activeUser"
              placeholder="All User (Click to Select User)"
              clearable
            >
              <el-option
                v-for="item in userList"
                :key="item.id"
                :label="item.name"
                :value="item.id"
              >
              </el-option>
            </el-select>
          </div>
          <div>
            <label>Sort Album</label>
            <el-radio-group v-model="albumSort">
              <el-radio label="default">Default</el-radio>
              <el-radio label="ascending">Ascending</el-radio>
              <el-radio label="descending">Descending</el-radio>
            </el-radio-group>
          </div>
        </div>

        <el-row :gutter="20">
          <el-col
            v-for="item in filteredAlbumList"
            :key="item.id"
            :span="12"
            :md="6"
          >
            <album-card :album="item" :user="userList[item.userId - 1]" />
          </el-col>
        </el-row>
      </div>
      <!-- /.container -->
    </el-main>
  </el-container>
</template>

<style scoped>
.album-filter {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-bottom: 1rem;
}

.album-filter > div:last-child {
  margin-left: 2rem;
}

.album-filter > div > label {
  margin-bottom: 0;
  font-weight: 600;
  margin-right: 1rem;
}

.el-radio {
  margin-bottom: 0;
}

.el-col {
  margin-bottom: 20px;
  display: flex;
  align-items: stretch;
}

.el-card {
  width: 100%;
}
</style>
