<script lang="ts">
import { ElMessage } from 'element-plus'
import { computed, defineComponent, onUnmounted, ref } from 'vue'
import { useStore } from '@/store'
import { MutationTypes } from '@/store/mutations'
import { Photo, PhotoCommented } from '@/store/types'
import { useRoute } from 'vue-router'

export default defineComponent({
  setup() {
    const store = useStore()
    const route = useRoute()
    const commentList = ref([] as string[])
    const commentInput = ref('')
    const loadingSendingComment = ref(false)

    const photo = computed(() => store.state.selectedPhoto)
    const loading = computed(() => store.state.loading)

    // Check from store if photo has comments
    const photoId = parseInt(route.params.id.toString())
    const albumId = parseInt(route.params.album.toString())
    const hasComment = computed(() =>
      store.state.photoCommentedList.some((item) => item.id === photoId && item.albumId === albumId)
    )
    const comments = store.state.photoCommentedList.filter(
      (item) => item.id === photoId && item.albumId === albumId
    )
    commentList.value = comments.map((item) => item.comment)
    const isFavorited = computed(() =>
      store.state.photoFavoritedList.some((item) => item.id === photoId && item.albumId === albumId)
    )

    const commentSubmit = () => {
      loadingSendingComment.value = true

      // Adding delay to simulate POST request
      setTimeout(() => {
        const photoUpdated: PhotoCommented = {
          ...photo.value,
          commented: true,
          comment: commentInput.value
        }
        commentList.value.push(commentInput.value)
        store.commit(MutationTypes.SET_PHOTO_COMMENTED_LIST, photoUpdated)
        commentInput.value = ''
        loadingSendingComment.value = false
      }, 2000)
    }

    const addToFavorite = () => {
      // Adding delay to simulate POST request
      setTimeout(() => {
        const photoUpdated: Photo = {
          ...photo.value,
          favorited: true
        }
        store.commit(MutationTypes.SET_PHOTO_FAVORITED_LIST, photoUpdated)
        ElMessage.success(`Successfully added to "My Favorite Photos"`)
      }, 400)
    }

    const unsetActivePhoto = () => {
      store.commit(MutationTypes.SET_SELECTED_PHOTO, null)
    }

    onUnmounted(unsetActivePhoto)

    return {
      loading,
      photo,
      isFavorited,
      hasComment,
      comments,
      addToFavorite,
      commentList,
      commentInput,
      commentSubmit,
      loadingSendingComment
    }
  }
})
</script>

<template>
  <div v-if="loading" v-loading="true" class="loading"></div>
  <template v-else>
    <el-row v-if="photo" :gutter="15">
      <el-col :md="14">
        <div class="photo-box">
          <el-button size="small" :disabled="isFavorited" @click="addToFavorite">
            <template v-if="isFavorited">Favorited</template>
            <template v-else>Add to Favorites</template>
          </el-button>
          <el-image :src="photo.url" lazy />
        </div>
        <!-- /.photo-box -->
      </el-col>

      <el-col :md="{ span: 9, offset: 1 }">
        <div class="comment-box">
          <h4>Comments</h4>
          <ul v-if="commentList.length">
            <li v-for="(item, i) in commentList" :key="i">{{ item }}</li>
          </ul>
          <el-form v-loading="loadingSendingComment" element-loading-text="Sending comment...">
            <el-form-item>
              <el-input
                v-model="commentInput"
                type="textarea"
                :rows="3"
                placeholder="Leave comment here"
              />
            </el-form-item>
            <el-form-item>
              <el-button type="primary" @click="commentSubmit"> Submit Comment </el-button>
            </el-form-item>
          </el-form>
        </div>
        <!-- /.comment-box -->
      </el-col>
    </el-row>
    <p v-else>Photo not found</p>
  </template>
</template>

<style scoped>
.loading {
  height: 100px;
}

.photo-box {
  position: relative;
}

.photo-box .el-button {
  position: absolute;
  right: 1rem;
  top: 1rem;
  z-index: 1;
}

.comment-box ul {
  list-style-type: none;
  padding: 0;
  margin-bottom: 1rem;
}

.comment-box li {
  padding: 1rem;
  margin-top: 0.5rem;
  background-color: #eee;
  white-space: pre-wrap;
}
</style>
