<script lang="ts">
import axios from '@/utils/axios'
import { computed, defineComponent, onMounted, ref } from 'vue'
import { useRoute, useRouter } from 'vue-router'
import { store } from '@/store'
import { Album, User } from '@/store/types'
import PageHeader from '@/components/PageHeader.vue'
import AlbumCard from '@/components/AlbumCard.vue'
import PageLoader from '@/components/PageLoader.vue'

export default defineComponent({
  components: {
    PageHeader,
    AlbumCard,
    PageLoader
  },
  setup() {
    const router = useRouter()
    const route = useRoute()
    const user = ref({} as User)
    const album = ref([] as Array<Album>)
    const loading = computed(() => store.state.loading)

    const getData = async () => {
      await axios.get(`/users/${route.params.user}`).then((res) => {
        user.value = res.data
      })
      await axios.get(`/users/${route.params.user}/albums`).then((res) => {
        album.value = res.data
      })
    }

    const backToHome = () => {
      router.push('/')
    }

    const getAcronym = (val: string) => {
      if (val) {
        const matches = val.match(/\b(\w)/g)
        if (matches) {
          return matches.slice(0, 2).join('').toUpperCase()
        }
      }
      return ''
    }

    onMounted(getData)

    return {
      user,
      album,
      backToHome,
      getAcronym,
      loading
    }
  }
})
</script>

<template>
  <el-container direction="vertical">
    <page-header />
    <page-loader v-if="loading" />
    <el-main v-else>
      <div class="user-header">
        <div class="container">
          <el-avatar v-if="user.name" :size="160" style="font-size: 3rem">
            {{ getAcronym(user.name) }}
          </el-avatar>
          <div class="user-info">
            <h1>
              {{ user.name }} <span>{{ '@' + user.username }}</span>
            </h1>
            <p>{{ user.website }}</p>
            <p>{{ user.email }}</p>
          </div>
          <!-- /.user-info -->
        </div>
        <!-- /.container -->
      </div>
      <!-- /.user-header -->
      <div class="container">
        <h2>Albums</h2>
        <el-row :gutter="15">
          <el-col v-for="item in album" :key="item.id" :span="12" :md="6">
            <album-card :album="item" />
          </el-col>
        </el-row>
      </div>
      <!-- /.container -->
    </el-main>
  </el-container>
</template>

<style scoped>
.user-header {
  border-bottom: 1px solid #ccc;
  margin-bottom: 2rem;
  padding-bottom: 2rem;
}

.user-header .container {
  display: flex;
}

.user-info h1 {
  margin-bottom: 1rem;
}
.user-info h1 span {
  display: block;
  font-weight: normal;
  opacity: 0.7;
  font-size: 75%;
}

.user-info p {
  margin: 0;
}

.el-avatar {
  margin-right: 3rem;
}

.el-col {
  margin-bottom: 15px;
  display: flex;
  align-items: stretch;
}
</style>
