<script lang="ts">
import { Album, User } from '@/store/types'
import { defineComponent, PropType } from 'vue'

export default defineComponent({
  name: 'AlbumCard',
  props: {
    album: {
      type: Object as PropType<Album>,
      required: true
    },
    user: {
      type: Object as PropType<User>,
      required: false,
      default() {
        return null
      }
    }
  }
})
</script>

<template>
  <el-card v-if="album.id" :body-style="{ padding: 0 }">
    <h3 class="album-title">
      <router-link :to="{ name: 'AlbumDetails', params: { album: album.id } }">
        {{ album.title }}
      </router-link>
    </h3>
    <p v-if="user">
      Created by:
      <router-link :to="{ name: 'UserDetails', params: { user: album.userId } }">
        {{ user.name }}
      </router-link>
    </p>
  </el-card>
</template>

<style scoped>
.el-card {
  width: 100%;
}

.album-title {
  margin: 0;
}
.album-title a {
  display: block;
  padding: 1rem;
  text-decoration: none;
  background-color: #409eff;
  height: 6rem;
  color: #fff;
}

p {
  padding: 1rem;
  margin: 0;
}
</style>
