<script lang="ts">
import { defineComponent } from 'vue'

export default defineComponent({
  name: 'PageHeader'
})
</script>

<template>
  <el-header>
    <div class="container">
      <h1><router-link to="/">My Photo Album</router-link></h1>
      <router-link :to="{ name: 'FavoritePhoto' }">My Favorite Photos</router-link>
    </div>
  </el-header>
</template>

<style scoped>
.el-header {
  background-color: #fff;
  border-bottom: 1px solid #f0f0f0;
}

.el-header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.el-header h1 {
  margin: 0;
}
</style>
