<script lang="ts">
import { defineComponent } from 'vue'

export default defineComponent({
  name: 'PageLoader'
})
</script>

<template>
  <div
    v-loading="true"
    class="element-loading"
    element-loading-text="Loading page..."
  />
</template>
