<script lang="ts">
import { Photo } from '@/store/types'
import { defineComponent, PropType } from 'vue'

export default defineComponent({
  name: 'PhotoThumbnail',
  props: {
    photo: {
      type: Object as PropType<Photo>,
      required: true
    }
  }
})
</script>

<template>
  <router-link
    v-if="photo.id"
    :to="{ name: 'PhotoDetails', params: { id: photo.id, album: photo.albumId } }"
  >
    <el-card :body-style="{ padding: '.5rem' }">
      <el-image :key="photo.id" :src="photo.url" lazy />
    </el-card>
  </router-link>
</template>

<style scoped>
.el-image {
  display: block;
}
</style>
